# netfilx dataset

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file = pd.read_csv(r"C:\Users\ARABHKS26 LENOVO\Downloads\8. Netflix Dataset.csv")

Basic Functions

In [ ]:
file.head()
file.tail()
file.shape
file.size
file.columns
file.dtypes
file.info()

 remove duplicates

In [3]:
#file[file.duplicated()]                 # file duplicates
file.drop_duplicates(inplace = True)    # delete duplicates permanant

 show null values in heat map

In [ ]:
file.isnull().sum()         # null vaules
sns.heatmap(file.isnull())  # heatmap

for 'house of cards , what is show id and director

In [ ]:
file[file['Title'].isin(['House of Cards'])]    # isin function
file[file['Title'].str.contains('House of Cards')]    # str.contains function

 in which year highest number of the TV shows & movies were released and show bar graph

In [8]:
file['Date_'] = pd.to_datetime(file['Release_Date'])    #add new date column referance to release date column

In [9]:
file['Year'] = file['Date_'].dt.year    #add year column reference to date_ column

In [ ]:
file['Date_'].dt.year.value_counts()    # no. of shows and movies

In [ ]:
file['Date_'].dt.year.value_counts().plot(kind='bar')   # bar graph

how many movie and tv shows are in dataset with bar graph

In [ ]:
file.groupby('Category').Category.count()   # groupby and count function

In [ ]:
sns.countplot(file['Category'])     #bar graph

show all the movie that were released in year 2000

In [ ]:
file[ (file['Category'] == 'Movie') & (file['Year'] == 2020) ]  #filtering

show only the titles of all tv shows that were released in india only

In [ ]:
file[ (file['Category'] == 'TV Show') & (file['Country'] == 'India') ] ['Title']

show top 10 directors, who gave the highest number of tv shows and movies of netflix

In [ ]:
file['Director'].value_counts().head(10)

show all the records, where 'category is movie and type is comedies' or 'country is united kingdom'

In [ ]:
file[ ((file['Category'] == 'Movie') & (file['Type'] == 'Comedies')) | (file['Country'] == 'United Kingdom') ]

in how many movies/shows, tow cruise was cast

In [ ]:
file[ file['Cast'] == 'Tom Cruise' ] ['Category']   # does not apply when multiple elements in column
file[ file['Cast'].str.contains('Tom Cruise') ]     # there null values so no result is coming

In [ ]:
file1 = file.dropna()   # delete null value is dataset

In [ ]:
file1[ file1['Cast'].str.contains('Tom Cruise') ]

what are the different ratings defined by netfilx

In [ ]:
file['Rating'].unique()

how many movies got the tv14 rating in canada

In [ ]:
file[ (file['Category'] == 'Movie') & (file['Rating'] == 'TV-14') & (file['Country'] == 'Canada')].shape

how many tv show got the r rating , after year 2018

In [ ]:
file[ (file['Category'] == 'TV Show') & (file['Rating'] == 'R') & (file['Year'] > 2018) ].shape

what is the maximum duration of movie on netfilx

In [ ]:
# create new column reference to Duration column
file[['Minutes','Unit']] = file['Duration'].str.split(' ',expand=True)

In [ ]:
file['Minutes'].max()

which individual country has the highest no. of tv shows

In [4]:
file_tvshow = file[file['Category'] == 'TV Show']

In [5]:
file_tvshow['Country'].value_counts()

United States                                                705
United Kingdom                                               204
Japan                                                        157
South Korea                                                  147
India                                                         71
                                                            ...
Canada, United States, United Kingdom, France, Luxembourg      1
United States, Italy                                           1
Chile, Italy                                                   1
Canada, United Kingdom                                         1
United States, France, South Korea, Indonesia                  1
Name: Country, Length: 183, dtype: int64

how can we sort the dataset by year

In [15]:
file.sort_values(by='Year',ascending= False)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Date_,Year
5564,s5564,Movie,Sherlock Holmes,Guy Ritchie,"Robert Downey Jr., Jude Law, Rachel McAdams, M...","United States, Germany, United Kingdom, Australia","January 1, 2021",PG-13,128 min,"Action & Adventure, Comedies",The game is afoot for an eccentric detective w...,2021-01-01,2021.0
5919,s5919,Movie,Surf's Up,"Ash Brannon, Chris Buck","Shia LaBeouf, Jeff Bridges, Zooey Deschanel, J...",United States,"January 1, 2021",PG,86 min,"Children & Family Movies, Comedies, Sports Movies",This Oscar-nominated animated comedy goes behi...,2021-01-01,2021.0
980,s981,TV Show,Bling Empire,NaN,NaN,NaN,"January 15, 2021",TV-MA,1 Season,Reality TV,Follow LA's wildly wealthy Asian and Asian Ame...,2021-01-15,2021.0
5955,s5955,Movie,Taare Zameen Par,Aamir Khan,"Aamir Khan, Darsheel Safary, Tanay Chheda, Tis...",India,"January 10, 2021",PG,162 min,"Dramas, International Movies",When daydreamer Ishaan is sent to boarding sch...,2021-01-10,2021.0
366,s367,Movie,Al acecho,Francisco D'Eufemia,"Rodrigo de la Serna, Belen Blanco, Walter Jako...",NaN,"January 12, 2021",TV-MA,81 min,"International Movies, Thrillers","Looking for a fresh start, a park ranger gets ...",2021-01-12,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,s3375,TV Show,Kikoriki,NaN,Igor Dmitriev,NaN,NaN,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,NaT,NaN
3492,s3493,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder...",NaT,NaN
3946,s3947,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",NaT,NaN
5138,s5138,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",NaT,NaN
6066,s6066,TV Show,The Adventures of Figaro Pho,NaN,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,TV-Y7,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ...",NaT,NaN

find where category is 'movie' and type is 'dramas'

In [16]:
file[ (file['Category'] == 'Movie') & (file['Type'] == 'Dramas') ]

Empty DataFrame
Columns: [Show_Id, Category, Title, Director, Cast, Country, Release_Date, Rating, Duration, Type, Description, Date_, Year]
Index: []

find where category is 'tvshows' and type is 'kids tv'

In [17]:
file[ (file['Category'] == 'TV Show') & (file['Type'] == "Kids' TV") ]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Date_,Year
111,s112,TV Show,44 Cats,NaN,"Sarah Natochenny, Suzy Myers, Simona Berman, E...",Italy,"October 1, 2020",TV-Y7,2 Seasons,Kids' TV,Paw-esome tales abound when singing furry frie...,2020-10-01,2020.0
276,s277,TV Show,Abby Hatcher,Kyran Kelly,"Macy Drouin, Wyatt White, Paul Sun-Hyung Lee, ...","United States, Canada","July 1, 2020",TV-Y,1 Season,Kids' TV,A big-hearted girl helps her Fuzzly friends wh...,2020-07-01,2020.0
434,s435,TV Show,Alphablocks,NaN,"Teresa Gallagher, David Holt, Lizzie Waterworth",United Kingdom,"May 25, 2020",TV-Y,5 Seasons,Kids' TV,The letters of the alphabet come to life in Al...,2020-05-25,2020.0
598,s599,TV Show,Ask the StoryBots,NaN,"Judy Greer, Erin Fitzgerald, Fred Tatasciore, ...",United States,"August 2, 2019",TV-Y,3 Seasons,Kids' TV,Five curious little creatures track down the a...,2019-08-02,2019.0
706,s707,TV Show,Bal Ganesh,Vijay S. Bhanushali,"Meghna Erande Joshi, Parminder Ghumman",NaN,"March 31, 2020",TV-Y7,1 Season,Kids' TV,"Watch Ganesh destroy demons, disarm invaders a...",2020-03-31,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7668,s7667,TV Show,World of Winx,Iginio Straffi,"Haven Paschall, Alysha Deslorieux, Jessica Paq...","Italy, United States","June 16, 2017",TV-Y7,2 Seasons,Kids' TV,"The reality show ""WOW!"" engages the Winx in th...",2017-06-16,2017.0
7717,s7716,TV Show,Yoko,NaN,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...",NaN,"June 23, 2018",TV-Y,1 Season,Kids' TV,"Friends Mai, Oto and Vik's games at the park b...",2018-06-23,2018.0
7719,s7718,TV Show,YOM,NaN,"Sairaj, Devyani Dagaonkar, Ketan Singh, Mayur ...",NaN,"June 7, 2018",TV-Y7,1 Season,Kids' TV,"With the mind of a human being, and the body o...",2018-06-07,2018.0
7758,s7757,TV Show,Z4,NaN,"Apollo Costa, Gabriel Santana, Matheus Lustosa...",Brazil,"February 22, 2019",TV-PG,2 Seasons,Kids' TV,Fading music biz veteran Zé realizes he has ju...,2019-02-22,2019.0
7761,s7760,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2018-09-13,2018.0